<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/flask_app/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Exo+2:wght@700;900&family=Roboto:ital,wght@0,300;0,700;0,900;1,100;1,300;1,700;1,900&display=swap" rel="stylesheet">    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/flask_app/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="background_grey">
    <!-- Modal for chat room creation -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create Chat Room</h5>
                <button type="button" class=" ms-3 btn btn-secondary" onclick="bring_to_top('public_chat_form')">Public</button>
                <button type="button" class=" ms-3 btn btn-primary" onclick="bring_to_top('private_chat_form')">Private</button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                    {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form id="public_chat_form" action="/chat/{{user.username}}">
                    <!-- <div>
                        <label>Enter your username:</label>
                        <input type="text" name="username">
                    </div> -->
                    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                    {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                    <div>
                        <input type="hidden" id="public_chat" name="radio-choice" value="public"> </input>
                        <label>Enter Room Number:</label><br>
                        <input type="text" name="room" value="0"><br>
                        <label>Enter Room Subject:</label><br>
                        <input type="text" name="subject" value="Chat"><br>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Create Public Chatroom</button>
                </form>
                {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                    {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form id="private_chat_form" class="" action="/chat/{{user.username}}">
                    <!-- <div>
                        <label>Enter your username:</label>
                        <input type="text" name="username">
                    </div> -->
                    
                    <div>
                        <label>Enter Room Number:</label>
                        <input type="text" name="room" value="0"><br>
                        <input type="hidden" id="public_chat" value="public"> </input>
                        <input type="hidden" id="public_chat" name="radio-choice" value="private"> </input>
                        <label>Enter Room Subject:</label><br>
                        <input type="text" name="subject" value="Chat"><br>
                        <label id= "passkey" for="key"> Enter Passkey:</label>
                        <input id = "passkey" type="text" name="key">
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Create Private Chatroom</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
<div class="container-fluid" >
    <!-- NAV BAR -->
    <div class="row orange_bg">   
        <div class="col-8">
            <ul class="nav nav-tabs  ">
                <li class="nav-item brand selected">
                    <a  style = "text-decoration: none;"href="/dashboard"><img class="mb-2 ms-2" height="30px"src="../static/images/dojo-logo-png-transparent.png" alt=""><span id= "chat"class="chat m-2">CHAT</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" >Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create New Room</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/rooms" >Room History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li> 
            </ul>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-8">
            <div class="row">
                <h3>Open ChatRooms</h3>
            </div>
            <div id="open_rooms" class="row card shadow blue_bg">
                {% for room in rooms %} 
                <form action="/join_room/{{user.username}}/{{room.number}}/{{room.name}}/{{room.subject}}">
                <div>
                    {% if 'private' == room.name %}
                        <a href="#">Topic : {{room.subject}} Room Type :{{room.name}} </a>
                        <label id= "keyword" for="private_key"> Enter Passkey:</label>
                        <input id = "keyword" type="text" name="private_key">
                        <button type="submit">Join Room</button>
                    {% else %}
                        <a href="#">Topic: {{room.subject}} Room Type: {{room.name}} </a>
                        <button type="submit">Join Room</button>
                    {% endif %}
                </div>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="/flask_app/static/js/bootstrap_js/bootstrap.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap_js/bootstrap.js') }}"></script>

<script src="../static/js/script.js"></script>
<link rel="script"  href="{{ url_for('static', filename='js/script.js') }}">
</body>
</html>